

header{
    background-image: url(../img/img-banner-cardapio.png);
    background-size: cover;
    background-position: center;
}

.titulo-menu {
    padding: 100px 0 0;
    max-width: 1300px;
    padding-left: 10px;
    margin: 0 auto;
    border-bottom: 2px solid #d3d3d3;
}

.titulo-menu h3{
    color: rgb(58, 58, 58);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

#cardapio-content {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 120px;
    max-width: 1300px;
    margin: 0 auto;  
}


.cardapio-item {
    background-color: #dddddd;
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    max-width: 360px;
    margin: 50px 13px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.cardapio-item div img{
    width: 100%;
}

.cardapio-item:hover{
    background-color: #e9e9e9;
    box-shadow: rgb(112, 112, 112) 0px 2px 4px, rgba(31, 37, 57, 0.61) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.cardapio-item div h3{
    font-size: 1.8rem;
    color: #de9116;
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 37, 57);
    width: 100%;
    max-width: 360px;
    border-radius: 50px 50px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardapio-item button {
    background-color: #9c1c20;
    cursor: pointer;
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 16px 15px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px; 
    width: 100%; 
    max-width: 150px;
    transition: all 0.2s;
}

.cardapio-item button a{
    color: white;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
}

.cardapio-item button:hover{
    background-color: #b52824;
    color: #de9116;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.cardapio-item button a:hover{
    color: #ffd000;
}

.preco-compra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.preco{
    color: #05A84B;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 10px;
}