
.cardapio-content {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 2%;
    padding-top: 10%;
}

.cardapio-content:nth-child(6){
    padding-bottom: 15%;
}

.cardapio-item {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 33%;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.cardapio-item div img{
    width: 100%;
}


.cardapio-item div h3{
    font-size: 1.8rem;
    color: #9c1c20;
}

