header{
    background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(../img/img-banner-12.jpg);
    background-size: cover;
    background-position: center;
}

/* Margen do conteúdo */
.main_principal{
    background-color: rgb(248, 237, 174);
    color: darkred;
    padding-top: 10px ;
    padding-bottom: 30px;
}

section{
    display: flexbox;
}
.conteudo_cadastro{
    font-size: 25px;
    background-color: #f8ab1f ;
    margin: 150px;
    padding: 80px;
    height: 1100px;
    width: 950px;
}