header{
    background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(../img/img-banner-contato.png);
    background-size: cover;
    background-position: center;
}

/* Margen do conteúdo */
.main_principal{
    color: darkred;   
    margin: 0 auto;
}

.content-contato-mapa{
    margin: 0 2%;
    padding-bottom: 100px;
 }

.conteudo_cadastro {
    margin-bottom: 50px;
    padding: 50px 10px 0 10px;
}

.conteudo_cadastro form{
    font-size: 20px;
    background-color: #f8ab1f ;
    padding: 80px;
    width: 950px;
    margin: auto;
    border-radius: 10px;
}

.conteudo_cadastro h2{
    margin-bottom: 30px;
    color: rgb(46, 46, 46);
}

#btn-contato-enviar{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1% 2%;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 20%;
    color: #ffffff;
    background-color: #e74c3c;
    margin: 10px 0;
}

.mapa-contato{
   padding-top: 50px;
   margin: 0 60px;
}

.mapa-contato h2{
    letter-spacing: 1px;
    font-style: italic;
    margin: 1% 2%;
}