header{
    background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(../img/img-banner-contato.png);
    background-size: cover;
    background-position: center;
}

body{
    height: 100vh;
    display: grid;
}
/* Margen do conteúdo */
main {
    width: 800px;
    background-color: azure;
    margin: auto;
    padding: 10%;
    border-radius: 50px;
}
.main_principal{
    color: darkred;   
    margin: 0 auto;
}

.content-contato-mapa{
    margin: 0 2%;
    padding-bottom: 100px;
 }

.conteudo_cadastro {
    margin-bottom: 50px;
    padding: 50px 10px 0 10px;
}

.conteudo_cadastro form{
    font-size: 20px;
    background-color: #fdd180 ;
    padding: 80px;
    width: 500px;
    margin: auto;
    color: #00240F;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.conteudo_cadastro h2{
    margin-bottom: 50px;
    color: rgb(46, 46, 46);
}

#btn-contato-enviar{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1% 1%;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 20%;
    color: #ffffff;
    background-color: #c13424;
    margin: 10px 0;
}

input {
    border: none;
    border-radius: 4px;
    height: 32px;
    margin-top: .5rem;
    margin-bottom: .2rem;
    padding: .5rem;
}
/* estilos dinamicos*/

input.error {
    border: solid 2px #c13424;
    background-color: azure;
    color: #39100b;
}

input.correct {
    background-color: azure;
    color: aquamarine;
}

.error-text {
    display: none;
    font-size: 1rem;
    font-weight: 600;
    color: #c13424;
}

.visible {
    display: block;
}

.mapa-contato{
   padding-top: 50px;
   margin: 0 60px;
}

.mapa-contato h2{
    letter-spacing: 1px;
    font-style: italic;
    margin: 1% 2%;
}