@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


header{
    background-image: linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(../img/img-banner-index.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.main_index{
    max-width: 1300px;
    margin: auto;
} 

.titulo-cards{
    color: rgb(48, 48, 48);
    text-align: center;
    font-size: 1.2rem;
    padding: 120px 10px 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #de9116;
    text-decoration-style: wavy;
}

.content-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 35px;
    padding: 80px 20px 80px 20px;
}

.main-card{
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    padding: 20px 8px 0 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.title-card h3{
    font-size: 1.8rem;
    color: #9c1c20;
    font-family: 'Poppins', sans-serif;  
}

.img-card img{
    width: 100%;
    padding: 10px;
    transition: all 0.2s;
}

.img-card img:hover{
    scale: 1.1;
}

.main-card button {
    background-color: #9c1c20;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 12px;
    margin-bottom: 5%;
    border: 0;
    border-radius: 8px;  
    width: 100%;
    max-width: 160px;
}

.main-card button a{
    color: white;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.main-card button:hover{
    background-color: #b52824;
}

.banner-content{
    background: linear-gradient(180deg, rgba(222,145,22,1) 0%, rgba(248,171,31,1) 35%, rgba(222,145,22,1) 100%);
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    border-radius: 20px;
    max-width: 1300px;
    margin: 0 auto 20px;
}

.banner-content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    width: 50%;
    height: 490px;
}

.banner-title-1{
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0px #0000006b, 3px 3px 0px #9c1c20, 6px 6px 0px #00000055;
}

.banner-title-1 h2 {
    font-family: 'Oswald', sans-serif;
}

.text-banner{
    color: white;
    font-size: 3.2rem;
    word-spacing: 15px;
    text-shadow: -1px -1px 0px #0000002f, 2px 2px rgba(0, 0, 0, 0.493);
}

.text-banner p {
    font-family: 'Rowdies', cursive;
}

#desconto-banner{
    font-family: 'Rowdies', cursive;
    font-size: 5rem;
}

.app-content{
    display: flex;
    gap: 2%;
    justify-content: center;
    padding-top: 20px;
}

.app-content img{
    width: 40%;
    cursor: pointer;
    padding-bottom: 20px;
}

.banner-content-2{
    display: flex;
    align-items:center;
    width: 50%;
    height: 490px;
    margin-right: 2%;
}

.banner-img img{
    width: 100%;
    height: 100%;
}

.franquia{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(44, 44, 44);
    line-height: 2.5;
    padding: 80px 100px;
    background-color: #e6e6e6;
    max-width: 1300px;
    margin: auto;
}

.franquia h2{
    color:#b52824;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin-bottom: 50px;
    border-bottom: 3px solid #b52824;
    font-family: Montserrat, sans-serif;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;

}

.franquia p{
    font-size: 1.5rem;
    text-shadow: 3px 2px 3px rgba(0,0,0,0.19);
}

#txt-vantagem{
    font-size: 2rem;
    margin: 100px 0 50px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.franquia-vantagem{
    display: flex;
    flex-direction: row;
    color: #606060;
    align-items: center;
    gap: 150px;
}

.franquia-conteudo{
    display: flex;
    flex-direction: column;
    width: 240px;
}

.franquia-conteudo p{
    font-size: 20px;
    line-height: 1.2;
    padding: 5px;
    margin-top: 20px;
}

.franquia button{
    color: #606060;
    background-color: #e6e6e6;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.franquia button:hover{
    color:#b52824;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.banner-delivery{
    background-image: linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/img-banner-5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secao-cta{
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    width: 100%;
    height: 490px;
    max-width: 1300px;
    margin: auto;
}

.secao-cta-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
    height: 90%;
    width: 50%;
    line-height: 1.3;
}

.secao-cta-title p{
    font-size: 3rem;
    letter-spacing: .5rem;
    font-family: Montserrat, sans-serif;
    color: rgb(206, 206, 206);
}

.secao-cta-title h2{
    font-size: 4.5rem;
    text-align: center;
    justify-content: center;
}

.secao-cta-title img{
   width: 50%;
   margin: auto;
   cursor: pointer;
}

.secao-cta-img{
    width: 50%;
}

.secao-cta-img img{
   width: 100%;
}
