


header{
    background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/img-banner-login.jpg);
    background-size: cover;
    background-position: center;
  }

main{
    background-color: rgb(245, 245, 245);
    }

.content_login{
    padding: 50px 0 100px 0;
    max-width: 1300px;
    margin: 0 auto;
}


.tela_login{
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.titulo-login h2{
    margin: 20px 0;
    color: rgb(102, 102, 102);
    font-family: Montserrat, sans-serif;
 } 
 

.form-login sup{
    color: red;
    padding-right: 3px;
} 

.campo-ast {
    display: flex;
}


.form-login input{
    border: 0;
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
} 


.form-login label{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
} 


.form-login button{
    width: 100%;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 15px 0;
    cursor: pointer;
    transition: all 0.2s linear;
} 


.form-login button:hover{
    color: red;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


::placeholder {
    color: #bebcbc; 
    font-style: italic;
    padding-left: 10px;
  }


p{
    color: rgb(0, 0, 0);
    font-size: .8rem;
    padding: 3px 0;
}