header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../img/img-banner-promocoes.jpg);
    background-size: cover;
    background-position: center;

}


.cabecalho {
    background: linear-gradient(to bottom, #de9116, #ffd700, #ffdb58, #f5f5f5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promocoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    width: 80%;
    height: 50%;
    gap: 35px
}

.test {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    height: 25rem;
    width: 50rem;
}

.promocao {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;

}




.card-preco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 20px;

}




.card-preco div {
    font-family: 'Yatra One', cursive;
    margin-right: 1rem;


}

.promotitle {
    font-size: 30px;
    margin: 1rem;



    height: 30%;
    width: 30%;
    color: rgb(26, 87, 31);

}

.card-preco div h3 {
    font-family: 'Yatra One', cursive;
    width: 100%
}

.preco-compra {
    display: flex;
    flex-direction: column;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: crimson;
    font-size: 70px;
    margin-left: 15rem;
}

.descricao {
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    text-align: justify;
    font-weight: bold;
    color: rgb(26, 87, 31);
    width: 100%;


}

.button {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    text-align: center;
    font-weight: bold;
    background-color: #dc8819;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 5% 6%;
    border-radius: 25px;
    width: 100%;

}

a {
    text-decoration: none;
    color: azure;
}

h3 {
    width: 100%;
}

.img-card {
    display: flex;
    float: left;
}

img {
    width: 100%
}