header {
    height: 67rem;
}


.cabecalho {
    background: linear-gradient(to bottom, #de9116, #ffd700, #ffdb58, #f5f5f5);
}

.promocoes {
    display: flex;
    flex-direction: column;


}

.promocao {
    background-color: #dddddd;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    width: 75rem;
    height: 40rem;
    gap: 35px;
    margin-bottom: 30px;
    border-radius: 150px;
    margin-left: 10px;


}




.card-preco {

    float: right;
    align-items: center;
    justify-content: center;
    margin: 16rem;
    margin-left: 6rem;
    margin-top: 10rem;
    height: 10 rem;
    width: 40rem;
    font-size: 45px;

}




.card-preco div {
    font-family: 'Yatra One', cursive;


}

h3 {
    font-size: 40px;
    margin-left: 5rem;
    margin-top: 2rem;
    width: 15rem;
    color: rgb(26, 87, 31);

}

.card-preco div h3 {
    font-family: 'Yatra One', cursive;
    width: 25rem;
    margin-top: -5rem;

}

.preco-compra {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color: crimson;
    font-size: 100px;
}

.descricao {
    font-size: 35px;
    font-family: 'Baloo 2', cursive;
    text-align: justify;
    font-weight: bold;
    color: rgb(26, 87, 31);


}

.button {
    font-size: 60px;
    font-family: 'Baloo 2', cursive;
    text-align: justify;
    font-weight: bold;
    margin-left: 4rem;
    background-color: #dc8819;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 5% 6%;
    margin-bottom: 4%;
    border: 0;
    border-radius: 35px;
    width: 80%;

}

a {
    text-decoration: none;
    color: azure;
}

.img-card {
    width: 100%;
    margin-left: -22rem;
}

#promo3 {

    width: 100%;
    margin-top: 6rem;
    margin-left: 1rem;

}

#descri3 {
    margin-left: 8rem;
    margin-right: 2rem
}