header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../img/img-banner-promocoes.jpg);
    background-size: cover;
    background-position: center;
}

.cards__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    gap: 80px;
    margin: 0 auto;
}


.card__body{
    background-color: #dddddd;
    padding: 5px;
    border-left: 15px ;
    border-bottom: 15px;
    border-radius: 0 0 0 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card__content__all{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 20px ;
    width: 100%;
    max-width: 800px;   
}

.card__img{
    padding: 5px; 
}

.card__img img{
    width: 100%;
    transition: all 0.2s;
}

.card__img img:hover {
    scale: 1.1;
}

.card__titulo{
    text-decoration: 3px underline #9c1c20;
    font-size: 30px;
    margin-bottom: 30px;
}

.card__descricao__preco{
    padding-right: 20px;
}

.card__descricao{
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    color: rgb(54, 54, 54);
    margin-bottom: 30px;
}

.preco__btn{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    padding: 10px 0;
}

.card__preco{
    font-weight: bold;
    color: #05A84B;
    font-size: 35px; 
}

.card__btn{
    background-color: #9c1c20;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px; 
    transition: all 0.2s;
    cursor: pointer;
}

.card__btn a{
    color: white;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
}

.card__btn:hover {
    background-color: #e6150d;
}





