

header{
  background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(../img/img-banner-sobre.jpg);
  background-size: cover;
  background-position: center;
}

.content-main-sobre{
  max-width: 1300px;
  margin: 0 auto;
}

.sobre_main{
 background-color: rgb(248, 237, 174);
 color: darkred;
 margin: 0px auto;
}

.sobre_nos{
  font-size: 30px;
  margin: 100px;
  padding: 0px;
}

.texto{
  font-size: 25px;
  background-color: #f8ab1f ;
  margin: 100px;
  padding: 40px;
}
