@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap');

header{
  background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(../img/img-banner-sobre.jpg);
  background-size: cover;
  background-position: center;
}

.content-main-sobre{
  max-width: 1300px;
  margin: 0 auto;
}

.content-main-sobre{
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.content-main-sobre h3{
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: 'Fira Sans', sans-serif;
  color: #00240F;
  font-size: 30px;
  border-bottom: solid 2px #bdf1ef;
  padding-top: 80px;
  margin-bottom: 80px;
}

.content-main-sobre p{
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  text-align: justify;
  font-size: 20px;
  color: #00240F;
  background-color: rgb(247, 247, 247) ;
  padding: 50px;
  line-height: 40px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
