

header{
  background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(../img/img-banner-sobre.jpg);
  background-size: cover;
  background-position: center;
}

.content-main-sobre{
  max-width: 1300px;
  margin: 0 auto;
}

.content-main-sobre{
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.content-main-sobre h3{
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  border-bottom: solid 2px #9c1c20;
  padding-top: 80px;
  margin-bottom: 180px;
}

.content-main-sobre p{
  font-style: italic;
  text-align: center;
  font-size: 20px;
  background-color: rgb(247, 247, 247) ;
  padding: 50px;
  line-height: 40px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
